body {
  background-color: rgb(58, 58, 58);
  color: rgb(245, 245, 245);
  font-family: Helvetica Neue, Helvetica, Arial;
  text-align: center;
  justify-content: center;
}

header {
  font-size: 5em;
  font-weight: bold;
  margin: 50px;
}

#todo-form {
  display: block;
}
